.chat-page{
    flex:1;
    min-height:0;
    display:flex;
    flex-direction:column;
}

.messages{
    flex:1;
    overflow-y:auto;
    padding:20px;
    background:#ecf0f1;
}

.message{
    width:fit-content;
    max-width:60%;
    padding:12px;
    background:white;
    border-radius:10px;
    margin-bottom:12px;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.mine{
    margin-left:auto;
    background:#d5f5e3;
}

.send-box{
    display:flex;
    padding:15px;
    background:white;
}

.send-box input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

.send-box button{
    margin-left:10px;
    width:130px;
    border:none;
    background:#27ae60;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
